__pycache__/
.obsidian/*
!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/core-plugins.json
!.obsidian/community-plugins.json
!.obsidian/graph.json
!.obsidian/snippets/
!.obsidian/plugins/
.obsidian/plugins/*/*
!.obsidian/plugins/*/data.json
*.code-workspace
.miktex/*
.claude/*
!.claude/settings.json
.claude/settings.local.json
.codex/*
.qmd-cache/*
.qmd-config/*
.qmd-output/*
raw/**
!raw/**/
!raw/**/.gitkeep
plan/**
!plan/**/
!plan/**/.gitkeep
output/**
!output/**/
!output/**/.gitkeep
wiki/**
!wiki/**/
!wiki/**/.gitkeep
